// Variables ------------------
$light-gray: #bbb;
$font-gray: #555;
$accent-border: 1px solid $light-gray;
$green: #00575a;
$blue: #00437a;
$magenta: #790048;
$goldenrod: #c59100;
$amethyst: rgb(89, 46, 124);
$orange: rgb(156, 63, 0);

// Styles ------------------

body {
  color: $font-gray;
}

header {
  background-color: $light-gray;
  padding: 15px;
  font-family: "Fredoka One", cursive;

  .row {
    margin: 0;
  }

  h1 {
    margin: 0;
    font-size: 35px;
    color: #fff;
  }
}

section {
  .container {
    margin: 20px auto;
  }
}

li {
  .collapsible-header {
    justify-content: space-between;

    h5 {
      margin: 0;
    }

    .caret {
      transition: transform 0.4s ease;
      margin-right: 0;
    }
  }
  &.active {
    .caret {
      transform: rotate(-180deg);
    }
  }
}

.divFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.divFlexCol {
  display: flex;
  flex-direction: column;
}

h6 {
  font-size: 1.4rem;
}

.inline {
  display: inline-block;
}

.inline-h6 {
  display: inline-block;
  width: 40px;
}

.button-font {
  font-family: "Fredoka One", cursive;
  text-transform: none;
  font-size: 1.25rem;
}

#rollBtn {
  margin: 25px 10px 0 0;
  background-color: $green;
}

#resetBtn {
  margin: 25px 0 0;
  background-color: $light-gray;
}

.dice-number {
  padding: 0 7px;
  border-top: $accent-border;
  border-bottom: $accent-border;
  margin: 0 -4px;
  box-sizing: border-box;
  height: 25px;
  width: 54px;
  text-align: center;
}

.minus-btn {
  box-sizing: border-box;
  margin: 0 0 0 10px;
  padding: 0 8px;
  height: 25px;
  background-color: #eee;
  border-top: $accent-border;
  border-bottom: $accent-border;
  border-left: $accent-border;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.plus-btn {
  box-sizing: border-box;
  margin: 0 40px 0 0;
  padding: 0 8px;
  height: 25px;
  background-color: #eee;
  border-top: $accent-border;
  border-bottom: $accent-border;
  border-right: $accent-border;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.dice {
  box-sizing: border-box;
  padding: 0 7px;
  height: 35px;
  width: 35px;
  margin: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
}

.dice4 {
  background-color: $green;
}

.sum {
  margin: 0 0 0 20px;
}
