body {
  color: #555;
}

header {
  background-color: #bbb;
  padding: 15px;
  font-family: "Fredoka One", cursive;
}

header .row {
  margin: 0;
}

header h1 {
  margin: 0;
  font-size: 35px;
  color: #fff;
}

section .container {
  margin: 20px auto;
}

li .collapsible-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

li .collapsible-header h5 {
  margin: 0;
}

li .collapsible-header .caret {
  -webkit-transition: -webkit-transform 0.4s ease;
  transition: -webkit-transform 0.4s ease;
  transition: transform 0.4s ease;
  transition: transform 0.4s ease, -webkit-transform 0.4s ease;
  margin-right: 0;
}

li.active .caret {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.divFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.divFlexCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h6 {
  font-size: 1.4rem;
}

.inline {
  display: inline-block;
}

.inline-h6 {
  display: inline-block;
  width: 40px;
}

.button-font {
  font-family: "Fredoka One", cursive;
  text-transform: none;
  font-size: 1.25rem;
}

#rollBtn {
  margin: 25px 10px 0 0;
  background-color: #00575a;
}

#resetBtn {
  margin: 25px 0 0;
  background-color: #bbb;
}

.dice-number {
  padding: 0 7px;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  margin: 0 -4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25px;
  width: 54px;
  text-align: center;
}

.minus-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 0 0 10px;
  padding: 0 8px;
  height: 25px;
  background-color: #eee;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.plus-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 40px 0 0;
  padding: 0 8px;
  height: 25px;
  background-color: #eee;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-right: 1px solid #bbb;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.dice {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 7px;
  height: 35px;
  width: 35px;
  margin: 0 0 10px 10px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bolder;
}

.dice4 {
  background-color: #9c3f00;
}

.dice6 {
  background-color: #00437a;
}

.dice8 {
  background-color: #790048;
}

.dice10 {
  background-color: #c59100;
}

.dice12 {
  background-color: #592e7c;
}

.dice20 {
  background-color: #00575a;
}

.sum {
  margin: 0 0 0 20px;
}

.bottom-divider {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.no-bottom-divider {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */